<a href="https://colab.research.google.com/github/ThienBao224/Python/blob/main/TH7_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 6: Pandas

## A. Serie

### 1. Viết chương trình thực hiện các yêu cầu sau đây:

a) Tạo ra một Serie có dạng sau:

b) In ra giá trị của nhãn ‘Iphone’, ‘Samsung S’

c) Tìm giá trị lớn nhất và nhỏ nhất trong Serie. In ra tên nhãn của dòng tương ứng.

d) In ra 2 dòng đầu tiên/2 dòng cuối trong Serie

In [ ]:
import pandas as pd

# a) Tạo ra một Serie có dạng sau:
data = [10, 12, 30, 100]
index = ['Iphone', 'Samsung Note', 'Samsung S', 'Nokia']
s = pd.Series(data, index=index)
print("a) Tạo ra một Serie có dạng sau:")
print(s)
print("-"*20)
# b) In ra giá trị của nhãn ‘Iphone’, ‘Samsung S’
print("b) In ra giá trị của nhãn ‘Iphone’, ‘Samsung S’")
print("Giá trị của Iphone:", s['Iphone'])
print("Giá trị của Samsung S:", s['Samsung S'])
print("-"*20)
# c) Tìm giá trị lớn nhất và nhỏ nhất, in ra tên nhãn tương ứng
max_value = s.max()
min_value = s.min()
print("c) Tìm giá trị lớn nhất và nhỏ nhất, in ra tên nhãn tương ứng")
print("Giá trị lớn nhất:", max_value, "\n Nhãn:", s.idxmax())
print("Giá trị nhỏ nhất:", min_value, "\n Nhãn:", s.idxmin())
print("-"*20)
# d) In ra 2 dòng đầu tiên và 2 dòng cuối
print("d) In ra 2 dòng đầu tiên và 2 dòng cuối")
print("dòng đầu tiên:\n", s.head(2))
print("\n2 dòng cuối:\n", s.tail(2))

a) Tạo ra một Serie có dạng sau:
Iphone           10
Samsung Note     12
Samsung S        30
Nokia           100
dtype: int64
--------------------
b) In ra giá trị của nhãn ‘Iphone’, ‘Samsung S’
Giá trị của Iphone: 10
Giá trị của Samsung S: 30
--------------------
c) Tìm giá trị lớn nhất và nhỏ nhất, in ra tên nhãn tương ứng
Giá trị lớn nhất: 100
 Nhãn: Nokia
Giá trị nhỏ nhất: 10
 Nhãn: Iphone
--------------------
d) In ra 2 dòng đầu tiên và 2 dòng cuối
dòng đầu tiên:
 Iphone          10
Samsung Note    12
dtype: int64

2 dòng cuối:
 Samsung S     30
Nokia        100
dtype: int64

### 2. Viết chương trình thực hiện các yêu cầu sau đây:

a) Tạo ra một Serie có dạng sau:

b) Sắp xếp Serie theo thứ tự tăng dần/ giảm dần.

c) Tạo ra một Serie mới bao gồm các thành phần có giá trị lớn hơn 150.

d) Tạo ra một Serie mới trong đó các giá trị của mỗi thành phần tăng thêm 200.

In [ ]:
import pandas as pd

# a) Tạo ra một Serie
data = [200, 160, 800, 100]
index = ['Ke toan', 'Moi Truong', 'CNTT', 'Toan']
s = pd.Series(data, index=index)
print("a) Tạo ra một Serie có dạng sau:")
print(s)
print("-"*20)

# b) Sắp xếp Serie theo thứ tự tăng dần và giảm dần
s_sorted_asc = s.sort_values()         #
s_sorted_desc = s.sort_values(ascending=False)
print("b) Sắp xếp Serie theo thứ tự tăng dần và giảm dần")
print("Serie sắp xếp tăng dần:\n", s_sorted_asc)
print("\nSerie sắp xếp giảm dần:\n", s_sorted_desc)
print("-"*20)

# c) Tạo Serie mới gồm các giá trị > 150
s_greater_150 = s[s > 150]
print("c) Tạo Serie mới gồm các giá trị > 150")
print("Serie gồm các giá trị > 150:\n", s_greater_150)
print("-"*20)

# d) Tạo Serie mới với các giá trị tăng thêm 200
s_plus_200 = s + 200
print("d) Tạo Serie mới với các giá trị tăng thêm 200")
print("Serie mới sau khi tăng thêm 200:\n", s_plus_200)

a) Tạo ra một Serie có dạng sau:
Ke toan       200
Moi Truong    160
CNTT          800
Toan          100
dtype: int64
--------------------
b) Sắp xếp Serie theo thứ tự tăng dần và giảm dần
Serie sắp xếp tăng dần:
 Toan          100
Moi Truong    160
Ke toan       200
CNTT          800
dtype: int64

Serie sắp xếp giảm dần:
 CNTT          800
Ke toan       200
Moi Truong    160
Toan          100
dtype: int64
--------------------
c) Tạo Serie mới gồm các giá trị > 150
Serie gồm các giá trị > 150:
 Ke toan       200
Moi Truong    160
CNTT          800
dtype: int64
--------------------
d) Tạo Serie mới với các giá trị tăng thêm 200
Serie mới sau khi tăng thêm 200:
 Ke toan        400
Moi Truong     360
CNTT          1000
Toan           300
dtype: int64

## B. DataFrame

### 1. Cho một bảng dữ liệu có thông tin như sau:

a) Viết chương trình tạo ra DataFrame lưu trữ nội dung bảng trên.

In [ ]:
import pandas as pd
data = {
    'Animal': ['Tiger', 'Lion', 'Cat', 'Whale'],
    'Weight': [258.5, 320.2, 3.3, 41000],
    'Average Age': [16, 15, 12, 33]
}
index = ['Data 1', 'Data 2', 'Data 3', 'Data 4']
df = pd.DataFrame(data, index=index)
print("a) DataFrame:\n", df)

a) DataFrame:
        Animal   Weight  Average Age
Data 1  Tiger    258.5           16
Data 2   Lion    320.2           15
Data 3    Cat      3.3           12
Data 4  Whale  41000.0           33

b) In ra tên động vật có trọng lượng trung bình (weight) là lớn nhất/ nhỏ nhất.

In [ ]:
max_weight_animal = df.loc[df['Weight'].idxmax(), 'Animal']
min_weight_animal = df.loc[df['Weight'].idxmin(), 'Animal']
print("b) Động vật có trọng lượng lớn nhất:", max_weight_animal)
print("   Động vật có trọng lượng nhỏ nhất:", min_weight_animal)

b) Động vật có trọng lượng lớn nhất: Whale
   Động vật có trọng lượng nhỏ nhất: Cat

c) In ra tên động vật có tuổi thọ trung bình (Average Age) là lớn nhất/ nhỏ nhất.

In [ ]:
max_age_animal = df.loc[df['Average Age'].idxmax(), 'Animal']
min_age_animal = df.loc[df['Average Age'].idxmin(), 'Animal']
print("c) Động vật có tuổi thọ lớn nhất:", max_age_animal)
print("   Động vật có tuổi thọ nhỏ nhất:", min_age_animal)

c) Động vật có tuổi thọ lớn nhất: Whale
   Động vật có tuổi thọ nhỏ nhất: Cat

d) Từ DataFrame của câu (a) tạo ra DataFrame chỉ chứa 2 dòng (Data 1 và Data 4) và 2 cột là (Animal và Weight)

In [ ]:
df_subset = df.loc[['Data 1', 'Data 4'], ['Animal', 'Weight']]
print("d) DataFrame con:\n", df_subset)

d) DataFrame con:
        Animal   Weight
Data 1  Tiger    258.5
Data 4  Whale  41000.0


e) In ra giá trị lớn nhất/ nhỏ nhất của cột dữ liệu Weight

In [ ]:
print("e) Giá trị lớn nhất của Weight:", df['Weight'].max())
print("   Giá trị nhỏ nhất của Weight:", df['Weight'].min())

e) Giá trị lớn nhất của Weight: 41000.0
   Giá trị nhỏ nhất của Weight: 3.3

f) Tính giá trị trung bình (mean) của cột dữ liệu Average Age

In [ ]:
print("f) Giá trị trung bình của Average Age:", df['Average Age'].mean())

f) Giá trị trung bình của Average Age: 19.0

g) In 2 dòng đầu tiên, 2 dòng cuối ra màn hình.

In [ ]:
print("g) 2 dòng đầu tiên:\n", df.head(2))
print("\n   2 dòng cuối:\n", df.tail(2))

g) 2 dòng đầu tiên:
        Animal  Weight  Average Age
Data 1  Tiger   258.5           16
Data 2   Lion   320.2           15

   2 dòng cuối:
        Animal   Weight  Average Age
Data 3    Cat      3.3           12
Data 4  Whale  41000.0           33


h) In ra màn hình các động vật có tuổi thọ trung bình (Aveage Age) lớn hơn 15.

In [ ]:
print("h) Động vật có tuổi thọ trung bình > 15:\n", df[df['Average Age'] > 15])

h) Động vật có tuổi thọ trung bình > 15:
        Animal   Weight  Average Age
Data 1  Tiger    258.5           16
Data 4  Whale  41000.0           33

i) In ra màn hình các động vật có trọng lượng trung bình
(Weight) nhỏ hơn 300.

In [ ]:
print("i) Động vật có trọng lượng trung bình < 300:\n", df[df['Weight'] < 300])

i) Động vật có trọng lượng trung bình < 300:
        Animal  Weight  Average Age
Data 1  Tiger   258.5           16
Data 3    Cat     3.3           12

### 2. Cho một bảng dữ liệu có thông tin như sau:

a) Viết chương trình tạo ra DataFrame lưu trữ nội dung bảng trên.

In [ ]:
import pandas as pd
data = {
    'Name': ['Grapefruit', 'Coconut', 'Watermelon', 'Banana', 'Dragon fruit'],
    'Origin': ['Long An', 'Ben Tre', 'Long An', 'Ben Tre', 'Long An'],
    'Price': [5.5, 10.2, 6.7, 2.5, 7.5]
}

index = ['Data 1', 'Data 2', 'Data 3', 'Data 4', 'Data 5']
df = pd.DataFrame(data, index=index)
print("a) DataFrame:\n", df)

a) DataFrame:
                 Name   Origin  Price
Data 1    Grapefruit  Long An    5.5
Data 2       Coconut  Ben Tre   10.2
Data 3    Watermelon  Long An    6.7
Data 4        Banana  Ben Tre    2.5
Data 5  Dragon fruit  Long An    7.5

b) In ra tên loại trái cây có giá tiền (Price) là lớn nhất/ nhỏ nhất.

In [ ]:
max_price_fruit = df.loc[df['Price'].idxmax(), 'Name']
min_price_fruit = df.loc[df['Price'].idxmin(), 'Name']
print("b) Trái cây có giá cao nhất:", max_price_fruit)
print("   Trái cây có giá thấp nhất:", min_price_fruit)

b) Trái cây có giá cao nhất: Coconut
   Trái cây có giá thấp nhất: Banana

c) Tìm các loại trái cây có xuất xứ tại Ben Tre

In [ ]:
print("c) Các loại trái cây xuất xứ Ben Tre:\n", df[df['Origin'] == 'Ben Tre'])

c) Các loại trái cây xuất xứ Ben Tre:
            Name   Origin  Price
Data 2  Coconut  Ben Tre   10.2
Data 4   Banana  Ben Tre    2.5

d) Từ DataFrame của câu (a) tạo ra DataFrame chỉ chứa 2 dòng (Data 2 và Data 5) và 2 cột là (Name và
Price)

In [ ]:
df_subset = df.loc[['Data 2', 'Data 5'], ['Name', 'Price']]
print("d) DataFrame con:\n", df_subset)

d) DataFrame con:
                 Name  Price
Data 2       Coconut   10.2
Data 5  Dragon fruit    7.5

e) In ra giá trị lớn nhất/ nhỏ nhất/trung bình của cột dữ liệu Price

In [ ]:
print("e) Giá cao nhất:", df['Price'].max())
print("   Giá thấp nhất:", df['Price'].min())
print("   Giá trung bình:", df['Price'].mean())

e) Giá cao nhất: 10.2
   Giá thấp nhất: 2.5
   Giá trung bình: 6.4799999999999995

f) Tìm loại trái cây có xuất xứ tại Ben Tre và có giá tiền (Price) là cao nhất

In [ ]:
ben_tre_max = df[df['Origin'] == 'Ben Tre'].loc[df[df['Origin'] == 'Ben Tre']['Price'].idxmax(), 'Name']
print("f) Trái cây Ben Tre giá cao nhất:", ben_tre_max)

f) Trái cây Ben Tre giá cao nhất: Coconut

g) Tìm loại trái cây có xuất xứ tại Long An và có giá tiền (Price) là thấp nhất

In [ ]:
long_an_min = df[df['Origin'] == 'Long An'].loc[df[df['Origin'] == 'Long An']['Price'].idxmin(), 'Name']
print("g) Trái cây Long An giá thấp nhất:", long_an_min)

g) Trái cây Long An giá thấp nhất: Grapefruit

h) Tính tổng giá tiền (Price) của các loại trái cây có xuất xứ tại Long An

In [ ]:
total_long_an = df[df['Origin'] == 'Long An']['Price'].sum()
print("h) Tổng giá các trái cây Long An:", total_long_an)

h) Tổng giá các trái cây Long An: 19.7

i) Tính trung bình giá tiền (Price) của các loại trái cây có xuất xứ tại Ben Tre

In [ ]:
avg_ben_tre = df[df['Origin'] == 'Ben Tre']['Price'].mean()
print("i) Giá trung bình các trái cây Ben Tre:", avg_ben_tre)

i) Giá trung bình các trái cây Ben Tre: 6.35